<!DOCTYPE html>
<html>
  <head>
    <title>TalkScheduler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <%= render 'navigation' %>
    <%= render 'menu' %>
    <main>
      <%= yield %>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Manjari', 'Noto Sans']
        }
      });
    </script>
  </body>
</html>
